@media(max-width: 700px) {
  .menu-option {
    display: none;
  }

  #menu-down {
    height: 2em;
    line-height: 2em;
    text-align: left;
    padding: 0 1em;
  }
  #menu-facultad {
    grid-template-columns:  1fr;
  }
}


@media(min-width: 700px){
  #menu-down {
    display: none;
  }
  #menu-facultad {
    grid-template-columns:  repeat(5,1fr);
  }
}

header {
  min-height: 450px;
  display: block;
}

#section-oferta {
  background-color: #fdfef9;
  text-align: justify;
  padding: 1em;
}

#section-oferta .title {
  text-align: center;
}
 

#btn-oferta {
  text-align: right;
  margin-top: 1.5em;
}

/*Section difucion*/
#section-difucion {
  justify-content: space-around;
  padding: 1em;
  text-align: left;
}

#video-english {
  display: none;
}

.lang {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: rgb(156,135,101);
}

.lang-selected {
  text-decoration:underline;
  color: #4f4537;
}
.img-evento{
  text-align: center;
}

#eventos img {
  margin-left: 10px: 
  margin-right: 10px: 
  text-align: center;
  display: inline-block;
  justify-content: space-around;
}

img.evento {
  max-height: 315px;
  max-width: 500px;
}

/* media query */
@media (max-width: 700px) {
    #section-difucion {
      grid-template-columns:  1fr;
    }

 }

@media (min-width: 700px) {
  #ofertas,  #section-difucion {
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
  }
}
