<h2>Ingeniero en Software</h2>
<hr class="style-hr">
<div id="section-oferta">
  <h3>Perfil del Egresado</h3>
  <p>
    El Ingeniero de Software posee competencias genéricas y específicas para diseñar la arquitectura y detallar las especificaciones de funcionamiento de los sistemas de software en organizaciones nacionales e internacionales, conoce la naturaleza y propiedades de los distintos lenguajes de programación, realiza la implementación del software mediante el uso de las diferentes metodologías y paradigmas del ciclo de vida y, realiza los distintos tipos de mantenimiento en sistemas de software de manufactura, considerando las características del hardware y sistemas embebidos. Además, realiza proyectos de desarrollo tecnológico para la solución de problemas de manera flexible y creativa. Actúa con ética profesional y responsabilidad social desempeñándose con liderazgo, espíritu crítico, emprendedor e innovador.
  </p>

  <h3>Competencias a desarrollar</h3>
  <p>
    <ul>
      <li>Dirigir y coordinar proyectos de desarrollo y mantenimiento de software.</li>
      <li>Supervisar las etapas de la vida de un proyecto de desarrollo de software.</li>
      <li>Dirigir equipos de trabajo compuestos por analistas, diseñadores y programadores.</li>
      <li>Analizar y seleccionar nuevas técnicas y herramientas existentes en el mercado tecnológico y del software.</li>
      <li>Analizar y diseñar aplicaciones de software.</li>
      <li>Realizar pruebas de verificación, integración y rendimiento de las aplicaciones de software.</li>
      <li>Integrar sistemas existentes susceptibles de interrelacionarse.</li>
      <li>Brindar asesoría a usuarios en la resolución de problemas relacionados con los sistemas de software.</li>
      <li>Realizar consultoría individual o en colaboración con otros profesionistas.</li>
      <li>Administrar sistemas de bases de datos.</li>
      <li>Participar en formular políticas de seguridad y técnicas criptográficas en empresas e instituciones donde se desempeñe.</li>
      <li>Verificar que el software desarrollado cumpla con la legislación en vigor.</li>
    </ul>
  </p>

  <h3>Campo de Trabajo</h3>
  <p>
    <ul>
      <li>Empresas integradoras de tecnologías.</li>
      <li>Sector público y privado, en áreas de informática y sistemas.</li>
      <li>Fábricas y Casas de software.</li>
      <li>Despachos particulares y multiprofesionales.</li>
      <li>Ejercicio libre de la profesión.</li>
    </ul>
  </p>

  <h3>Características deseables del Aspirante</h3>
  <p>
    <ul>
      <li>Habilidad para las matemáticas y la programación.</li>
      <li>Capacidad para solucionar problemas basados en deducciones lógicas.</li>
      <li>Aptitud para trabajar en equipo.</li>
      <li>Habilidad para la investigación y el autoaprendizaje.</li>
    </ul>
  </p>

  <h3>Estudios Previos</h3>
  <p>
    Bachillerato terminado, preferentemente en las áreas de técnico analista 
    programador, técnico en computación o su equivalente.
  </p>

  <h3>Requisitos de Ingreso</h3>
  <p>
    Atender el proceso de admisión vigente señalado en la 
    Convocatoria oficial para la Educación Superior.
  </p>

  <h3>Requisitos de Egreso</h3>
  <ul>
    <li>
      Aprobar la totalidad de las unidades de aprendizaje del plan de estudios, 
      acreditar las actividades culturales y deportivas, y 
      el servicio social universitario.
    </li>
    <li>
      Acreditar la Práctica Profesional y el Servicio Social Constitucional, 
      de acuerdo con el Reglamento Escolar de Educación Superior.
    </li>
    <li>
      Presentar el Examen General para el Egreso de la Licenciatura (egel-ceneval).
    </li>
    <li>
      Cumplir con los requisitos de documentación administrativa necesarios.
    </li>
  </ul>
  <h3>Duración de la Carrera</h3>
  <p>
    8 semestres.
  </p>
  <div class="btn" onclick="irCvSoftware()">
    Documento curricular por competencias
  </div>
</div>
