<h2>Ingeniero en Telemática</h2>
<hr class="style-hr">
<div id="section-oferta">
  <h3>Perfil del Egresado</h3>
  <p>
  El Ingeniero en Telemática posee competencias genéricas y específicas para 
  diseñar, gestionar y evaluar servicios de redes y telecomunicaciones en 
  organizaciones nacionales e internacionales. Asimismo, cuenta con habilidades 
  para diseñar y desarrollar software de comunicaciones y 
  sistemas distribuidos, operar y realizar el mantenimiento 
  de la infraestructura tecnológica, innovar y adaptar las 
  Tecnologías de Información y Comunicación (TIC) a los procesos 
  productivos de las empresas, implementa estándares y protocolos 
  de seguridad de acuerdo con las normas y lineamientos establecidos 
  y realiza proyectos de desarrollo tecnológico para la solución de 
  problemas de manera flexible y creativa. Actúa con ética profesional 
  y responsabilidad social desempeñándose con liderazgo, espíritu crítico, 
  emprendedor e innovador.
  </p>
  
  <h3>Competencias a desarrollar</h3>
  <p>
    <ul>
      <li>
        Planificar y gestionar tecnologías para entornos de área local (LAN), 
        metropolitana (MAN) y área amplia (WAN).
      </li>
      <li>
        Supervisar y brindar asistencia técnica a desarrolladores, 
        suministradores de equipos y sistemas de telecomunicación.
      </li>
      <li>
         Elaborar proyectos de infraestructuras comunes de telecomunicación en edificios (ICT).
      </li>
      <li>
        Diseñar y desarrollar servicios de redes y telecomunicaciones.
      </li>
      <li>
        Diseñar e implementar sistemas de seguridad para el almacenamiento, 
        la transmisión y accesos a redes y sistemas.
      </li>
      <li>
        Diseñar aplicaciones distribuidas orientadas a la administración y 
        el comercio electrónico.
      </li>
      <li>
        Especificar, diseñar e implementar protocolos con calidad de servicio 
        para soportar medios de comunicación masivos.
      </li>
      <li>
        Diseñar software de sistemas de tiempo real para aplicaciones 
        de entretenimiento.
      </li>
      <li>
        Asesorar el desarrollo de normas y propone criterios de homologación 
        de equipos, sistemas y certificaciones.
      </li>
    </ul>
  </p>
  
  <h3>Campo de Trabajo</h3>
  <p>
    <ul>
      <li>
        Empresas de servicios de consultoría relacionados con 
        tecnologías de información.
      </li>
      <li>
        Organizaciones con redes de telecomunicaciones y de cómputo.
      </li>
      <li>
        Centros de cómputo o centros de procesamiento de información.
      </li>
      <li>
        Centros de teleprocesamiento.
      </li>
      <li>
        Ejercicio libre de la profesión.
      </li>
    </ul>
  </p>
  
  <h3>Características deseables del Aspirante</h3>
  <p>
    <ul>
      <li>
        Habilidad para las matemáticas y la electrónica.
      </li>
      <li>
        Capacidad para solucionar problemas basados en deducciones lógicas.
      </li>
      <li>
        Facilidad para el manejo de conocimientos teóricos y prácticos.
      </li>
      <li>
        Interés por las telecomunicaciones, el desarrollo tecnológico y el manejo de software.
      </li>
      <li>
        Aptitud para trabajar en equipo.
      </li>
      <li>
        Habilidad para la investigación y el autoaprendizaje.
      </li>  
    </ul>
  </p>
  
  <h3>Estudios Previos</h3>
  <p>
    Bachillerato terminado, preferentemente en las áreas de técnico analista 
    programador, técnico en computación o su equivalente.
  </p>
  
  <h3>Requisitos de Ingreso</h3>
  <p>
    Atender el proceso de admisión vigente señalado en la 
    Convocatoria oficial para la Educación Superior.
  </p>
  
  <h3>Requisitos de Egreso</h3>
  <ul>
    <li>
      Aprobar la totalidad de las unidades de aprendizaje del plan de estudios, 
      acreditar las actividades culturales y deportivas, y 
      el servicio social universitario.
    </li>
    <li>
      Acreditar la Práctica Profesional y el Servicio Social Constitucional, 
      de acuerdo con el Reglamento Escolar de Educación Superior.
    </li>
    <li>
      Presentar el Examen General para el Egreso de la Licenciatura (egel-ceneval).
    </li>
    <li>
      Cumplir con los requisitos de documentación administrativa necesarios.
    </li>
  </ul>
  <h3>Duración de la Carrera</h3>
  <p>
    8 semestres.
  </p>
  <div class="btn" onclick="irCvTelematica()">
    Documento curricular por competencias
  </div>
</div>
