<div id="servciouni">
  <h2>Servicio Social Constitucional</h2>
  <hr class="style-hr">
  <h3>Requisitos</h3>
  <div class="section-titulacion grid">
<ul>
<li>En general, se requiere contar con el 70% de créditos de la carrera.</li>
<li>Inscribirte en un programa de servicio social aprobado por la Facultad y registrado en la Dirección General de Servicio Social y Práctica Profesional a través de un convenio.</li>
<li>Contar con la aprobación de la Facultad.</li>
<li>Realizarlo en un tiempo no menor de seis meses ni mayor de dos años y cubrir 480 horas como mínimo. <strong>Iniciar antes del 1° de Julio.</strong></li>
</ul>
  </div>
  <h3>Registro</h3>
  <div class="section-titulacion grid">
<ul>
<li>Revisar información sobre los programas registrados en la Facultad.</li>
<li>Seleccionar el programa de servicio social que te apoye a consolidar tu formación.</li>
<li>Entrar a: <a href="http://siceuc.ucol.mx/ssc/" target="_blank" rel="noopener noreferrer">http://siceuc.ucol.mx/ssc/</a> con tu usuario y contraseña de siceuc.</li>
<li>Registra el proyecto y envía un correo a la Dra. María Andrade Aréchiga 
		, para que revise la información y en caso de estar correcta y completa, te habilite los demás formatos.</li>
<li>Dirigirte a la institución solicitante para obtener la firma de la carta de presentación/aceptación que se imprime desde el sistema.</li>
<li>Entregar impresos: el registro, el plan de trabajo y la carta de aceptación, para continuar con tu trámite a la Dra. María Andrade Aréchiga (cubículo 14 edificio de PTC), en el mes de febrero.</li>
</ul>
  </div>
  <h3>Periodo para hacer trámites</h3>
  <div class="section-titulacion grid">
    Febrero <br>
    Algunas instituciones del sector público en las que lo puedes hacer son:
    <ul>
      <li>Instituto para la Atención de los Adultos en Plenitud</li>
      <li>Gobierno del estado y municipios</li>
      <li>Secretaría de Desarrollo Social</li>
      <li>Secretaría de Hacienda y Crédito Público</li>
      <li>Secretaría del Medio Ambiente y Recursos Naturales</li>
      <li>Sistema estatal de Protección Civil</li>
      <li>Algunas instituciones del sector social</li>
      <li>Cruz Roja Mexicana</li>
      <li>Cuerpo de bomberos</li>
      <li>Dependencias de la Universidad de Colima</li>
    </ul>
  </div>
  <h3>Registro y llenado de informes</h3>
  <div class="section-titulacion grid">
    <a href="http://siceuc.ucol.mx/ssc/" target="_blank" rel="noopener noreferrer">http://siceuc.ucol.mx/ssc/ </a>
    Mayor información en:
    <a href="http://www.ucol.mx/acerca/coordinaciones/cgd/ssocial/constitucional.php" target="_blank" rel="noopener noreferrer">http://www.ucol.mx/acerca/coordinaciones/cgd/ssocial/constitucional.php </a>
    <ssypp/" target="_blank" rel="noopener noreferrer">http://portal.ucol.mx/dgssypp/</a></p>
  </div>
</div>
