<div id="estancia">
  <h2>Practica Profesional y Estancia Profesional</h2>
  <hr class="style-hr">
  <h3>¿Qué es la Práctica Profesional?</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>La práctica profesional es una asignatura existente en el plan de estudio vigente que junto con la Estancia profesional se debe realizar en el Octavo semestre de la Ingeniería, (No se puede adelantar) pues la Practica Profesional se realizará en modalidad de Estancia Profesional.</li>
      <li>Se trata de una serie de actividades que el estudiante realiza en alguna institución, donde deberá aplicar los conocimientos y destrezas, asegurando el ejercicio eficiente y efectivo de su profesión.</li>
      <li>Es una forma de obtener experiencia laboral aun siendo alumno de la Universidad.</li>
    </ul>
  </div>
  <h3>¿Dónde puedo realizarla?</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>La puedes realizar en programas universitarios, o en instituciones del sector público, privado o social, que cuenten con un programa (o proyecto en el que realizaras actividades acorde a tu área de formación) debe ser aprobado por tu facultad o escuela y registrado en la Dirección General de Servicio Social y Practicas Profesionales (DGSS y PP).</li>
      <li>Se publica un listado de empresas solicitantes en la pagina web de la facultad. <a href="http://telematicanet.ucol.mx/">http://telematicanet.ucol.mx </a></li>
      <li>Puedes elegir instituciones que no estén en la lista siempre y cuando haya una solicitud expresa de la empresa donde la realizarás y que llene el registro correspondiente a la empresa y al proyecto en el que participarás, el cual debe tener actividades relacionadas con tu formación profesional.</li>
    </ul>
  </div>
  <h3>Requisitos</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>Ser alumno regular inscrito en alguno de los planes de estudio de la Universidad de Colima. Inscrito en 8º Semestre de la Ingeniería en Telemática o Ingeniería en Software.</li>
      <li><strong>Haber acreditado el Servicio Social Constitucional</strong> y contar con la constancia oficial correspondiente.</li>
      <li>Registrarse en alguna de las Instituciones aprobadas por el plantel y la Dirección General de Servicio Social y Practica Profesional como unidades receptoras para poder realizar tu PP.</li>
      <li>Cumplir con un mínimo de 430 horas en un periodo no menor a cuatro meses y medio ni mayor a un año. En un periodo que puede ser a partir del 8 de Enero y hasta el 20 de Junio.</li>
      <li>Para Acreditar Asignaturas y Proceso Administrativo de PP haber entregado Memoria y Carta de Termino antes del 20 de Junio para poder acreditar en Fechas de Ordinario según el calendario escolar vigente. (25 al 29 de Junio 2018)</li>
    </ul>
  </div>
  <h3>Documentación Inicial</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>Registro de la Empresa y/o del Proyecto si no existe en el sistema de PP</li>
      <li>En el sistema de PP se genera la Solicitud y captura el plan de trabajo, el alumno lo firma, además del responsable del proceso de PP en el plantel y la unidad receptora o responsable del programa, según se indica en cada documento.</li>
      <li>Carta de presentación obtenida del sistema de PP, firmada y sellada por el plantel deberá entregarse a la empresa pidiendo una carta de aceptación como respuesta.</li>
      <li>La Carta de aceptación expedida en hoja membretada, firmada y sellada por la unidad receptora (titular o responsable del programa de PP en la Empresa según corresponda). La carta se responde al Director del plantel pues fue quien firmó la carta de Presentación.</li>
      <li>Entregar antes del 22 de Febrero de 2018: Solicitud, Plan de Trabajo, Carta de Aceptación y copia de Recibida la carta de Aceptación con firma y sello por parte de la empresa. (Documentos con Firmas y sellos originales así como hoja membretada según corresponda).</li>
    </ul>
  </div>
  <h3>¿Durante las PP Cuáles son mis derechos y obligaciones?</h3>
  <div class="section-titulacion grid">
    Tienes derecho a: <br>

    <ul>
      <li>Recibir orientación y trato respetuoso por parte del responsable de práctica profesional de tu facultad o escuela y del personal de la institución donde la realices.</li>
      <li>Que se respete el horario, lugar, programa de trabajo y actividades que establezcan en el programa de práctica profesional registrado y aprobado. Cualquier cambio deberá ser aprobado por tu unidad responsable de práctica profesional.</li>
      <li>Desarrollar la prestación en condiciones de seguridad e higiene, en un espacio físico adecuado, con material, información y equipo para el desarrollo de tus actividades.</li>
      <li>Recibir los apoyos profesionales y académicos&nbsp; estipulados en el programa.</li>
      <li>Recibir oportunamente la documentación requerida para el registro, seguimiento y conclusión de tu práctica profesional.</li>
    </ul>
    Tienes la obligación de: <br>

    <ul>
      <li>Inscribirte en los programas de práctica profesional aprobados por tu facultad o escuela y registrados en la DGSS y PP.</li>
      <li>Revisar que la empresa esta registrada en el sistema, si No esta registrada entonces enviar el formato de registro de proyecto a <span id="cloakb97b96d19411883765f9d6b75ae85caf">This email address is being protected from spambots. You need JavaScript enabled to view it.</span>
        para que solicite el registro de la empresa a la Dirección Gral. De Practicas Profesionales.</li>
      <li>Realizar en tiempo y forma los trámites administrativos de práctica profesional en tu facultad o escuela.</li>
      <li>Realizar en tiempo y forma las actividades señaladas en el plan de trabajo y de conducirte de manera profesional y ética.</li>
      <li>Presentar la memoria de las actividades realizadas durante la prestación de tu práctica profesional, cumpliendo con los lineamientos para la realización de la misma.</li>
      <li>En caso de interrumpir tu práctica profesional, deberás notificar por escrito las causas.</li>
      <li>Respetar las disposiciones legales y políticas que establece la U. de Colima y las de la dependencia donde la realices.</li>
      <li>Informar al responsable&nbsp; de práctica profesional de la facultad o escuela correspondiente, si durante tu práctica profesional no se respetan tus derechos, o si se presenta algún problema que afecte la prestación.</li>
      <li>Informar a tu asesor en la empresa las fechas, los requisitos y formatos que deberás entregar a la Facultad para cumplir con los procesos académico y administrativo correspondientes la Practica y Estancia Profesional.</li>
      <li>Cumplir con las fechas de entrega señaladas y tomar las consideraciones necesarias para cumplir en tiempo y forma.</li>
    </ul>
  </div>
</div>
