<div id="procesos"  class="grid">

  <div id="menu-facultad"  class="grid">
    <div onclick="openMenu()" id="menu-down">Menu</div>
    <div  onclick="irProcesos()" class="menu-option">
      Proceso de Titulacion
    </div>
    <div  onclick="irServicio()" class="menu-option">
      Servicio Social Universitario
    </div>
    <div onclick="irServicioConstitucional()" class="menu-option">
      Servicio Social Constitucional
    </div>
    <div onclick="irEstancia()" class="menu-option">
      Estancia Profecional
    </div>
  </div>

  <div id="content-procesos">
    <div id="procesos-titulacion">
      <h2>Proceso de Titulacion</h2>
      <hr class="style-hr">
      <h3>PASO 1.‐ Constancia de Prácticas Profesionales</h3>
      <div class="section-titulacion grid">
        <ul>
          <li>
            La Coordinador(a) de prácticas profesionales revisa que el 
            documento esté correcto y tenga las ﬁrmas del alumno, 
            asesor externo y asesor interno.
          </li>
          <li>
            La Coordinador(a) de prácticas profesionales ﬁrma la memoria, 
            si no hay observaciones
          </li>
          <li>
            El Director(a) de la Facultad ﬁrma la memoria 
            (solamente si ésta cuenta con la ﬁrma de la 
            Coordinadora de Prácticas Profesionales)
          </li>
          <li>
            Se realiza el pago de la constancia de prácticas 
            profesionales ($150.00 pesos). Pasar a la Dirección 
            de 8:00 am a 14:00 pm a solicitar la ﬁcha para el pago.
          </li>
        </ul>
      </div>
      <h3>PASO 2.‐ El Certiﬁcado de Estudios</h3>
      <div class="section-titulacion grid">
        <ul>
          <li>
            Para solicitar el certiﬁcado es necesario: 
            Haber concluido el trámite de la Constancia 
            de Prácticas Profesionales
          </li>
          <li>
          Haber concluido el 100% de sus asignaturas incluido el 8vo semestre.  
          </li>
          <li>
            Para solicitar el certiﬁcado es necesario:
          </li>
          <li>
            Realizar el pago correspondiente ($300.00 pesos). 
            Pasar a la Dirección de 8:00 am a 14:00 pm a 
            solicitar la ﬁcha para el pago
          </li>
          <li>
            2 fotografías tamaño credencial ovaladas, 
            con retoque y papel mate, fondo blanco.
          </li>
        </ul>
      </div>
      <h3>PASO 3.‐ Entregar documentación (una vez que se tiene el certifícado, 
        se debe entregar lo siguiente)</h3>
      <div class="section-titulacion grid">
        <ul>
          <li>
           4 Fotos tamaño título con retoque y papel mate, fondo blanco 
          </li>
          <li>
            4 Fotos tamaño infantil con retoque y papel mate blanco
          </li>
          <li>
            Acta de nacimiento en original y copia
          </li>
          <li>
            Copia de la CURP al 220% (2 copias)
          </li>
          <li>
            Certiﬁcado de Bachillerato legalizado, original y 1 copia en tamaño carta
          </li>
          <li>
            Certiﬁcado de Licenciatura legalizado, original y 1 copia en tamaño carta
          </li>
          <li>
            Constancia de Servicio Social Constitucional (de Licenciatura) original y copia
          </li>
          <li>
            El día que entregues la documentación se te informará el costo de 
            la titulación (Aproximadamente son $3,970.00 pero podría variar).
          </li>
          <li>
            Los documentos deberán ser entregados en un folder t/oficio color 
            gris, que venden en las librerias en servicios 
            estudiantiles de la Universidad.
          </li>
          <li>
            NOTA: Es importante que ustedes conserven una copia de estos 
            documentos ya que los originales se quedan en 
            la Facultad para el trámite correspondiente.
          </li>
        </ul>
      </div>
      <h3>PASO 4.‐ La Titulación</h3>
      <div class="section-titulacion grid">
        <ul>
          <li><strong>CENEVAL</strong>
            <ul>
              <li>Te presentarás en la fecha que se te informe cuando entregas 
                tu documentación (ver el punto anterior) a tu examen 
                profesional (toma de protesta).</li>
              <li>
                EGEL
              </li>
            </ul>
          </li>
          <li><strong>Tesis</strong>
            <ul>
              <li>La tesis debe ser aprobada por el Asesor y los Sinodales</li>
              <li>Una vez aprobada la tesis, entregar 5 ejemplares de tesis.</li>
            </ul>
          </li>
          <li><strong>Otras opciones de Titulación</strong>
            <ul>
              <li><a href="http://www.ucol.mx/documentos-normateca/ver/lineamientos/Lineamiento_04/#book5/pagina1">
                  Revisar este enlace
                </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
