<div id="servciouni">
  <h2>Servicio Social Universitario</h2>
  <hr class="style-hr">
  <h3>Generalidades Sobre el SSU</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>Es una materia curricular</li>
      <li>Su duración es de 50 horas al semestre, para cada uno de los semestres del plan de estudios vigentes</li>
      <li>Lo realizan los estudiantes de la UCOL en cualquier dependencia universitaria de la propia universidad, en todos los campos universitarios</li>
      <li>Se realizan labores muy diversas. No implica realizar actividades relacionadas con el programa educativo, aunque no las excluye.</li>
      <li>El registro y control del SSU se llevan a cabo a través de una plataforma (SISEUC) donde se presentan las diferentes actividades a realizar.</li>
      <li>En la plataforma, cada alumno deberá elegir y registrar una actividad así como visualizar su acreditación en su momento.</li>
      <li>En la plataforma se indica el número de alumnos requeridos, y en tiempo real, el número de alumnos inscritos en cada actividad.</li>
    </ul>
  </div>
  <h3>Actividades</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>Apoyo a docentes y administrativos de la Fac. Telemática</li>
      <li>Donación con depósito bancario para la Fac. Telemática</li>
      <li>Apoyo a dependencias universitarias (planteles de todos los campus universitarios, excepto la Fac. Telemática)</li>
      <li>OTROS (estas actividades son diversas y cambian cada semestre)</li>
    </ul>
  </div>
  <h3>Fechas Importantes</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>Registro de actividad en el SISEUC: finales del primer mes del ciclo escolar (<a href="http://www.ucol.mx/alumnos/calendario-escolar.htm" target="_blank" rel="noopener noreferrer">revisar el calendario escolar universitario</a>)</li>
      <li>Límite para acreditar el SSU: antes de iniciar los exámenes ordinarios (<a href="http://www.ucol.mx/alumnos/calendario-escolar.htm" target="_blank" rel="noopener noreferrer">revisar el calendario escolar universitario</a>)</li>
    </ul>
    <p><strong>Nota</strong>: Después de esta fecha, se deberá acreditar el ssu como extraordinario, en la actividad que se asigne.</p>
  </div>
  <h3>Proceso</h3>
  <div class="section-titulacion grid">
    <ul>
      <li>En tu espacio del SICEUC, elegir la actividad que deseas realizar durante el semestre. Una vez que registres tu actividad, no podrás realizar cambios.</li>
      <li>Si eliges la actividad “Apoyo a docentes y administrativos de la Facultad de Telemática”, cuando hayas cumplido con tus 50 horas, deberás entregar un oficio firmado por la persona con la que realizaste tu SSU, o bien esta persona debe enviar un email a la Dra. María Eugenia Cabello Espinosa: <span id="cloak36c5ff3c5a8873b34c8119be7690fb85">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
          document.getElementById('cloak36c5ff3c5a8873b34c8119be7690fb85').innerHTML = '';
          var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
          var path = 'hr' + 'ef' + '=';
          var addy36c5ff3c5a8873b34c8119be7690fb85 = '&#101;c&#97;b&#101;ll&#111;' + '&#64;';
          addy36c5ff3c5a8873b34c8119be7690fb85 = addy36c5ff3c5a8873b34c8119be7690fb85 + '&#117;c&#111;l' + '&#46;' + 'mx';
          var addy_text36c5ff3c5a8873b34c8119be7690fb85 = '&#101;c&#97;b&#101;ll&#111;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloak36c5ff3c5a8873b34c8119be7690fb85').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy36c5ff3c5a8873b34c8119be7690fb85 + '\'>'+addy_text36c5ff3c5a8873b34c8119be7690fb85+'<\/a>';
        </script>, informando que cumpliste tus 50 hrs. de SSU, indicando tu nombre y número de cuenta.
        <ul>
          <li>Si deseas ayudar a algún profesor o administrativo sólo de la Facultad de Telemática, en:</li>
          <li>apoyo en alguna de sus actividades.</li>
          <li>apoyo a algún evento académico realizado por la Facultad de Telemática (como congresos, jornadas, etc.)</li>
          <li>cuidado de laboratorios/centros de cómputo de la Facultad de Telemática</li>
        </ul>
      </li>
      <li>Si eliges la actividad de “Donación con depósito bancario”, deberás imprimir la ficha de SICEUC por la cantidad de $250, y una vez cubierto el arancel, entregar referencia de pago emitida por el banco a la encargada: C.P. Rosa María Ponce Barajas (), Secretaria Administrativa de la Fac. Telemática.
        <ul>
          <li>No se recibirá dinero en efectivo</li>
          <li>Lo donado servirá para la adquisición de materiales y equipos en apoyo a proyectos integradores de los programas educativos, así como para el pago de pintura en aulas/ laboratorios de la Fac. Telemática.</li>
        </ul>
      </li>
      <li>Si eliges alguna de las otras actividades, tendrás que seguir el proceso que se indica en la misma plataforma en cada actividad a elegir, o bien podrás contactar a la Lic. Gloria Marvila Huerta Barajas (<span id="cloaka7f08549fb2b096ba762b8727c5d9f1f">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
          document.getElementById('cloaka7f08549fb2b096ba762b8727c5d9f1f').innerHTML = '';
        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
        var path = 'hr' + 'ef' + '=';
        var addya7f08549fb2b096ba762b8727c5d9f1f = 'm&#97;rv&#105;l&#97;' + '&#64;';
        addya7f08549fb2b096ba762b8727c5d9f1f = addya7f08549fb2b096ba762b8727c5d9f1f + '&#117;c&#111;l' + '&#46;' + 'mx';
        var addy_texta7f08549fb2b096ba762b8727c5d9f1f = 'm&#97;rv&#105;l&#97;' + '&#64;' + '&#117;c&#111;l' + '&#46;' + 'mx';document.getElementById('cloaka7f08549fb2b096ba762b8727c5d9f1f').innerHTML += '<a ' + path + '\'' + prefix + ':' + addya7f08549fb2b096ba762b8727c5d9f1f + '\'>'+addy_texta7f08549fb2b096ba762b8727c5d9f1f+'<\/a>';
      </script>) de la Dirección General de Servicio Social y Prácticas Profesionales (DGSSPP) de la UCOL, para que te indique el procedimiento de acreditación.</li>
    </ul>
  </div>
</div>
