<div id="facultad"  class="grid">

  <div id="menu-facultad"  class="grid">
    <div onclick="openMenu()" id="menu-down">Menu</div>
    <div  onclick="irFacultad()" class="menu-option">
      Historia
    </div>
    <div  onclick="irFacultadContacto()" class="menu-option">
      Contacto
    </div>
    <div onclick="irFacultadPersonal()" class="menu-option">
      Personal Administrativo
    </div>
    <div onclick="irFacultadReglamento()" class="menu-option">
      Reglamento de uso de laboratorio
    </div>
    <div onclick="irFacultadInfraestructura()" class="menu-option">
      Infraestructura
    </div>
  </div>

  <div id="content-facultad">
    <div id="facultad-historia">
      <h2 >Historia</h2>
    <hr class="style-hr">
    <div class="section-historia grid">
      <img src="img/historia1.jpg" alt="">
      <div class="text-historia">
        <p>
          El inicio al impulso de las carreras de Informática-Computación en la Universidad de Colima, se dio en la facultad de Ingeniería Mecánica y Eléctrica, en el campus Coquimatlán con la carrera de Ingeniero en Sistemas Computacionales, y en las escuelas y facultades de Contabilidad y Administración del Estado, con la carrera de Licenciado en Informática.
        </p>
        <p>
          Uno de los antecedentes de la actual Facultad de Telemática, que se encuentra ubicada en el campus Colima, fue la carrera de Licenciado en Informática que inició en Agosto de 1990 como respuesta a la necesidad detectada en el Estado de satisfacer la demanda de profesionistas que implementaran sistemas de información, utilizando nuevas tecnologías computacionales.
        </p>
      </div>
    </div>
    <div class="section-historia-alter grid">
      <div class="text-historia">
        <p>
          La Facultad de Telemática fue creada el 2 de agosto de 1996 para ofrecer a la comunidad estudiantil las carreras de Licenciado en Informática, Ingeniería y Maestría en Telemática, como estrategia Institucional para consolidar académicamente el desarrollo de la aplicación de las nuevas tecnologías de Información, Informática y Telecomunicaciones, en el campus Colima.
        </p>
        <p>
         La Facultad de Telemática surgió también en el campus Colima para aprovechar la experiencia de la Universidad en la aplicación y uso de recursos informáticos del Centro Nacional de Edición Digital y Desarrollo de Tecnologías de Información (CENEDIC), de la Biblioteca de las Ciencias y del Centro Universitario Productor de Medios Didácticos (CEUPROMED) e impulsar la carrera de Licenciado en Informática que ofrecía anteriormente la Facultad de Contabilidad y Administración.
        </p>
      </div>
        <img src="img/historia2.jpg" alt="">
    </div>
       <div class="section-historia grid">
      <img src="img/historia3.jpg" alt="">
      <div class="text-historia">
        <p>
         El campus Colima fue una de las primeras áreas en contar con su propia red de comunicaciones intra e intercampus, además de comunicación internacional, caracterizada por emplear tecnología de frontera, tanto a nivel de redes locales de datos (redes tipo Ehternet a 100 mbps), dorsal basada en fibra óptica (FDDI), dispositivos de interconexión (enrutadores inteligentes), y diversos medios físicos de comunicaciones.
        </p>
        <p>
         El aprovechamiento de la infraestructura de redes y facilitar una administración centralizada, fueron otras de las razones para establecer la Facultad de Telemática en el campus Colima y aprovechar así el CENEDIC, la Biblioteca de las Ciencias, el departamento de redes y el CEUPROMED, como laboratorios naturales para sus estudiantes.
        </p>
      </div>
    </div>
    <div class="section-historia-alter grid">
      <div class="text-historia">
        <p>
         Desde sus inicios la Facultad de Telemática ha buscado la proyección internacional, ya que aspira a contar con estudiantes con preparación de nivel mundial en tecnologías computacionales, por ello se han realizado intercambios de estudiantes y profesores con instituciones de Estados Unidos, Canadá, Inglaterra y España, entre otros. Para reforzar la preparación en inglés se cuenta con un Centro de Autoacceso a Lenguas en el campus principal de la Universidad de Colima.
        </p>
        <p>
         El hecho de contar con un sistema moderno de comunicaciones e infraestructura en informática, telemática e inglés, es una base y un aliciente para mejorar los planes de estudios de la Facultad y así fomentar la investigación y la docencia en esta disciplina, que está teniendo un gran desarrollo por la extensiva utilización de Internet y por las necesidades de modernización que enfrentan las empresas e instituciones de la región.
        </p>
      </div>
        <img src="img/historia4.jpg" alt="">
    </div>
  </div>
  </div>
</div>
