<div id="facultad-infra">
  <div class="set">
    <div class="title">Edificios</div>
    <div class="images">
      <img src="./img/infra/edificio1.png" alt="">
      <img src="./img/infra/edificio2.png" alt="">
      <img src="./img/infra/edificio3.png" alt="">
    </div>
  </div>
  <div class="set">
    <div class="title">Aulas y Laboratorios</div>
    <div class="images">
      <img src="./img/infra/aula1.png" alt="">
      <img src="./img/infra/aula2.png" alt="">
      <img src="./img/infra/aula3.png" alt="">
      <img src="./img/infra/aula4.png" alt="">
      <img src="./img/infra/aula5.png" alt="">
    </div>
  </div>
  <div class="set">
    <div class="title">Centros de computo</div>
    <div class="images">
      <img src="./img/infra/cc1.png" alt="">
      <img src="./img/infra/cc2.png" alt="">
    </div>
  </div>
  <div class="set">
    <div class="title">Otras Areas</div>
    <div class="images">
      <img src="./img/infra/explanada.png" alt="">
      <img src="./img/infra/direccion.png" alt="">
    </div>
  </div>
</div>
