#facultad {
  background: #fdfef9;
}

#content-facultad {
  padding: 1em;
}

#facultad-historia p {
	text-align: justify;
	margin-top: 0;
}

.section-historia,  .section-historia-alter {
  grid-gap: 1em;
}

@media (max-width: 700px) {
  .section-historia,.section-historia-alter {
    grid-template-columns:1fr;
  }
}

@media (min-width: 700px) {
   .section-historia {
    grid-template-columns:25% auto;
  }
   .section-historia-alter {
    grid-template-columns: auto 25%;
  }
}

/* Reglamento */
#facultad-reglamento {
  justify-content: space-around;
}

#facultad-reglamento img {
  text-align: center;
  max-width: 1000px;
  align-content: center;
}

/* Contacto */
@media (min-width: 700px) {
  .row-contacto {
    grid-template-columns:repeat(4, 1fr);
  }
}
