<div id="facultad-contacto">
  <h2>Direccion</h2>
  <hr class="style-hr">
  <div class="grid">
    <div>
      <p>
        M. en C. Sara Sandoval Carrillo<br>
        sary@ucol.mx<br>
        Directora de la Facultad de Telemática<br>
      </p>
    </div>
    <div class="row-contacto grid">
      <div>
        <p>
          Dr. Ed. Antonio Ordaz Carrillo<br>
          Coordinador Académico de la carrera Ingeniería en Software<br>
          aordaz@ucol.mx<br>
          ext 37804<br>
        </p>
      </div>
      <div>
        <p>
          M.C. Aaron Vázquez Godina<br>
          Coordinador Académico de la carrera Ingeniería en Telemática<br>
          laaaron@ucol.mx<br>
          ext. 37805  <br>
        </p>
      </div>
      <div>
        <p>
          Dr. Raúl Teodoro Aquino Santos<br>
          Coordinador de Posgrado<br>
          aquinor@ucol.mx<br>
        </p>
      </div>
      <div>
        <p>
          C.P. Rosa María Ponce Barajas<br>
          Secretaria Administrativa<br>
          rponce@ucol.mx<br>
          ext 37803<br>
        </p>
      </div>
    </div>
    <div class="row-contacto grid">
      <div>
        <p>
          Lic. Alma Refugio Dávila Preciado<br>
          Asesora Pedagógica<br>
          adavila@ucol.mx<br>
        </p>
      </div>
      <div>
        <p>
          Lic. Mónica Georgina García Valle<br>
          Orientadora Educativa<br>
          monica_garcia@ucol.mx<br>
        </p>
      </div>
    </div>
  </div>
  <h2>Comisiones</h2>
  <hr class="style-hr">
  <div class="row-contacto grid">
    <div>
      <p>
        D. en C. María Andrade Aréchiga<br>
        Responsable del servicio social constitucional<br>
        mandrad@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        D. en C. María Eugenia Cabello Espinosa<br>
        Responsable del servicio social universitario<br>
        ecabello@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        M. en C. Margarita Glenda Mayoral Baldivia<br>
        Responsable de práctica, estancia profesional, EGEL<br>
        mglenda@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        D. en C. Pedro Damián Reyes<br>
        Responsable de educación continua<br>
        damian@ucol.mx<br>
      </p>
    </div>
  </div>
  <div class="row-contacto grid">
    <div>
      <p>
        D. en C. Juan Antonio Guerrero Ibáñez<br>
        Responsable del programa de becas<br>
        antonio_guerrero@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        D. en C. Jorge Rafael Gutiérrez Pulido<br>
        Responsable de seguimiento de egresados<br>
        jrgp@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        D. en C. Buenrostro Mariscal Raymundo<br>
        Responsable de becas de manutención<br>
        raymundo@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        D. Ed. Antonio Ordaz Carrillo<br>
        Responsable de Exani II, becas de excelencia,<br>
        aordaz@ucol.mx<br>
      </p>
    </div>
  </div>
  <div class="row-contacto grid">
    <div>
      <p>
        M. en C. Gaspar Cruz Carlos Fidel<br>
        Responsable de certificación ISO 9000<br>
        carlos.gaspar@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        M. en C. Aaron Vázquez Godina<br>
        Responsable de visitas guiadas<br>
        laaaron@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        D. en C. Erika Margarita Ramos Michel<br>
        Responsable de Tutorías<br>
        ramem@ucol.mx<br>
      </p>
    </div>
  </div>
  <h2>Responsables de Laboratorio</h2>
  <hr class="style-hr">
  <div class="row-contacto grid">
    <div>
      <p>
        Ing. Manzanilla Aznarez Jorge Gerardo<br>
        aznarez@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        M. en C. Gaspar Cruz Carlos Fidel<br>
        carlos.gaspar@ucol.mx<br>
      </p>
    </div>
    <div>
      <p>
        Lic. Inf. Julio Cesar Marquez Jimenez<br>
        julioc_marquez@ucol.mx 	 <br>
      </p>
    </div>
  </div>
  <h2>Secretarias</h2>
  <hr class="style-hr">
  <div class="row-contacto grid">
    <div>
      <p>
        Aguayo Dimas Silvia Leticia<br>
        ext 37801<br>
      </p>
    </div>
    <div>
      <p>
        Campos Llerenas Carmen Leticia<br>
        ext. 37801<br>
      </p>
    </div>
    <div>
      <p>
        Chavez Trillo Luz Aida<br>
        ext 37801<br>
      </p>
    </div>
    <div>
      <p>
        García Vázquez Itza María De J.<br>
        ext 37801<br>
      </p>
    </div>
  </div>
  <div class="row-contacto grid">
    <div>
      <p>
        Juarez Garcia Ma. Mercedes<br>
        ext 37801<br>
      </p>
    </div>
  </div>
</div>
