<div id="academico"  class="grid">

  <div id="menu-facultad"  class="grid">
    <div onclick="openMenu()" id="menu-down">Menu</div>
    <div  onclick="irAcademico()" class="menu-option">
      Docentes
    </div>
    <div  onclick="irAcademias()" class="menu-option">
      Academias
    </div>
    <div onclick="irCuerpos()" class="menu-option">
      Cuerpos Académicos
    </div>
    <div onclick="irPrograma()" class="menu-option">
      Programa de Tutoría
    </div>
  </div>

  <div id="content-academico">
    <div id="academico-docentes">
      <h2> Profesores de Tiempo Completo</h2>
      <hr class="style-hr">
      <div class="profe-row grid">
        <div class="card-option btn">
          PhD. Acosta Díaz Ricardo
          acosta@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Álvarez Cárdenas Omar
          xe1aom@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Andrade Aréchiga María
          mandrad@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Aquino Santos Raúl Teodoro
          aquinor@ucol.mx
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          D. en C. Buenrostro Mariscal Raymundo
          raymundo@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Cabello Espinosa María Eugenia
          ecabello@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Contreras Castillo Juan José
          juancont@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Damian Reyes Pedro
          damian@ucol.mx
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          M. en C. Estrada González Fermín
          fermin_estrada@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Fajardo Flores Silvia Berenice
          medusa@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Flores Cortés Carlos Alberto
          cfcortes@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Gallardo Armando Román
          aroman@ucol.mx
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          D. en C. Guerrero Ibáñez Juan Antonio
          antonio_guerrero@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Gutiérrez Pulido Jorge Rafael
          jrgp@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Herrera Morales José Roman
          rherrera@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Mayoral Baldivia Margarita
          mglenda@ucol.mx
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          D. en C. Montesinos López Osval Antonio
          oamontes1@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Ramírez Alcaraz Juan Manuel
          jmramir@ucol.mx
        </div>
        <div class="card-option btn">
          D. en C. Ramos Michel Erika Margarita
          ramem@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Sandoval Carrillo Sara
          sary@ucol.mx
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          M. en C. Santana Mancilla Pedro César
          psantana@ucol.mx
        </div>
      </div>
      <h2>  Profesores por Horas </h2>
      <hr class="style-hr">
      <div class="profe-row grid">
        <div class="card-option btn">
          M. en C. Aguilar Arias Angélica María
          angye@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Alcaraz Amador Martha Cristina
          malcaraz@ucol.mx
        </div>
        <div class="card-option btn">
          Amezcua Luján Martha Karina
          kariamezcua@hotmail.com
        </div>
        <div class="card-option btn">
          D. en C. Amezcua Valdovinos Ismael
          ismaelamezcua@ucol.mx
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Licda. Andrade Castillo Martha Elba
          came_16@hotmail.com
        </div>
        <div class="card-option btn">
          Licda. Araiza Cañedo Maribel
          maribel_araiza@ucol.mx
        </div>
        <div class="card-option btn">
          Ávalos Corona Luis Miguel
        </div>
        <div class="card-option btn">
          Licda. Avalos Diaz Julia Karina
          julliekarina@gmail.com
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Bañuelos López Luis Antonio
        </div>
        <div class="card-option btn">
          Ing. Bricio Chapula Carlos Adrian
          cbricio@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Bricio Chapula Enrique
          enrique_bricio@ucol.mx
        </div>
        <div class="card-option btn">
          M. en A. Camorlinga Camacho Sofía Magally
          soficc27@gmail.com
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Campos González Edgar Guadalupe
        </div>
        <div class="card-option btn">
          M. en C.Cárdenas Villa Gerardo Emmanuel
          gvilla@ucol.mx
        </div>
        <div class="card-option btn">
          M. en A. Carrillo Hidalgo Joaquín
          joaquinka@ucol.mx
        </div>
        <div class="card-option btn">
          Castillo Vega Jesús Eduardo
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Cobián Alvarado Mónica
          mcobian@ucol.mx
        </div>
        <div class="card-option btn">
          Cortes Lugo Hugo
          hugolugo@ucol.mx
        </div>
        <div class="card-option btn">
          Escalera Pérez Hernán Adalid
        </div>
        <div class="card-option btn">
          M. en C. Flores Flores Eduardo
          eflores@ucol.mx
        </div>
        <div class="card-option btn">
          M. en C. Gaspar Cruz Carlos Fidel
          carlos.gaspar@ucol.mx
        </div>
        <div class="card-option btn">
          MTI. Gomez Galvan Mayela Haidee
          mayela_gomez@ucol.mx
        </div>
        <div class="card-option btn">
          MTI. González Arellano María Estela
        </div>
        <div class="card-option btn">
          Govea Valencia Georgina
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          MTI. Guzman Benavides Krishna Neith
krishna@ucol.mx
        </div>
        <div class="card-option btn">
          Lepe Salazar Francisco Iván
        </div>
        <div class="card-option btn">
          Ing. Manzanilla Aznarez Jorge Gerardo
        </div>
        <div class="card-option btn">
          Medina Sandoval Víctor Hugo
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Licda. Mercado Maciel Alejandra Margarita
          mercado.alejandra@gmail.com
        </div>
        <div class="card-option btn">
          M. en C. Moctezuma Hernández José
          jmocte@ucol.mx
        </div>
        <div class="card-option btn">
          Moreno Osegueda Raymundo
        </div>
        <div class="card-option btn">
          Nava Bautista Martha Xóchitl
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Peralta Araiza Ana Conceza
        </div>
        <div class="card-option btn">
          Pozas Zepeda Darío
        </div>
        <div class="card-option btn">
          Ramírez González Humberto
        </div>
        <div class="card-option btn">
          Ramírez Morfín José Nabor
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Ramírez Sánchez Claudia
        </div>
        <div class="card-option btn">
          Ramos Madrigal Abel
        </div>
        <div class="card-option btn">
          Rangel Alcántar Érick
        </div>
        <div class="card-option btn">
           	Rodríguez Ortiz Miguel Ángel
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Torres López Héctor
        </div>
        <div class="card-option btn">
           	Ulibarri Ireta Carlos
        </div>
        <div class="card-option btn">
           	Valadez Meneses Rafael
        </div>
        <div class="card-option btn">
          Vázquez Godina Lorenzo Aarón
        </div>
      </div>
      <div class="profe-row grid">
        <div class="card-option btn">
          Villaseñor Hernández Manuel Pastor
        </div>
      </div>
    </div>
  </div>
</div>
