<div id="programa-tutoria">
  <p>
    La Facultad de Telemática comparte del Plan Institucional de Desarrollo de su 
    alma mater, la Universidad de Colima, el sentido de “educación”, al considerarla 
    no sólo como la transmisión de conocimientos, sino también como un aprendizaje 
    en el que la persona aprende a ser autónoma y a orientarse con ética y principios. 
    Para ello, se han emprendido acciones de capacitación de los profesores 
    para que acompañen a los estudiantes en su trayectoria académica, sin dejar 
    de lado el desarrollo de competencias conceptuales, metodológicas y humanas.
  </p>
  
  <p>
    El programa de tutoría en la Facultad de Telemática implica no sólo 
    acciones entre tutores y tutorados, sino la participación también de 
    los directivos, asesora pedagógica, profesores por horas y el orientador 
    educativo asignado a la facultad. Evidencia de esto es el establecimiento 
    de metas y compromisos relacionados con la acción tutorial en los programas 
    PIFI y POA de la Facultad de Telemática.
  </p>
  
  <p>
    Entre las acciones básicas que la facultad establece con respecto al Programa 
    Institucional de Tutoría Individualizada, está la de asegurar que todo 
    estudiante inscrito en alguno de sus programas tenga asignado un tutor 
    desde el momento en que ingresa a la facultad. Esto con el propósito de 
    llevar un seguimiento de sus actividades y detectar cualquier situación 
    que ponga en riesgo su permanencia en el programa. En la Facultad de 
    Telemática se enfatizan los siguientes objetivos establecidos 
    en el sistema institucional de tutorías:
  </p>
  
  <p>
    Disminuir en lo posible la deserción de estudiantes que se presenta 
    principalmente en los tres primeros semestres, por esta razón, desde 
    que ingresan los estudiantes a la facultad, a través de la tutoría se 
    espera detectar las situaciones académicas, personales o familiares que 
    obstaculicen la permanencia del estudiante en su carrera. Para lograr 
    lo anterior, tanto los profesores de tiempo completo (que llevan las 
    acciones de tutoría) como de los profesores por hora (que en el aula 
    pueden detectar también situaciones de riesgo) y directivos, participan 
    conjuntamente.
    Utilizar estrategias de atención personalizada para complementar 
    actividades docentes regulares.
    Facilitar la proximidad entre profesores y estudiantes para generar 
    alternativas de atención e incidir en la integridad de su formación 
    profesional y humana.
  </p>
  
  <p>
    En la facultad, la totalidad de sus profesores de tiempo completo (PTC’S) 
    llevan a cabo la actividad de tutoría, y cuentan con el apoyo incondicional 
    del orientador educativo asignado a la facultad. En el periodo correspondiente 
    al presente informe y hasta la fecha, se cuenta con el apoyo del L.E.S. Elihud 
    Rabindranaff Guzmán Amezcua, como orientador educativo asignado, para atender 
    a los estudiantes que requieren ayuda especializada, ya sea a solicitud del 
    tutor, profesor por hora, directivo o del estudiante directamente.
  </p>
  
  <p>
    A través de la figura del orientador educativo se logra que los estudiantes 
    participen en cursos, talleres y diplomados que la Universidad de Colima 
    se ofrecen, enfocados a que estudiantes de primeros semestres por ejemplo, 
    trabajen aspectos relacionados con la definición de su proyecto de vida y 
    establecimiento de compromisos y expectativas en su carrera; para estudiantes 
    de cuarto y quinto semestre se les invita a participar en talleres o pláticas 
    sobre actitudes y motivación, y para estudiantes de sexto a octavo semestre, 
    se trabajan aspectos de desempeño laboral, así como opciones de estudios de 
    posgrado, aunque esto es principalmente con su tutor, y a través de las 
    Jornadas de Vinculación que la Facultad de Telemática ha organizado durante 
    los últimos años.
  </p>
  
  <p>
    Con la participación colectiva de directivos, tutores, profesores por horas 
    y orientador educativo, se determinó desarrollar e implementar la aplicación 
    “Seguimiento Escolar” en la página web de la Facultad de Telemática, con el 
    propósito de ofrecer un mecanismo que permitiera informar la situación de un 
    estudiante. Para lo anterior, tanto profesores como estudiantes llenan un 
    formulario en línea a través del cual se indica la problemática (de conducta, 
    problema familiar, socioeconómico, asistencia, o aprovechamiento) de un 
    estudiante y de esta forma se atiende la solicitud de atención y da seguimiento 
    al estudiante. La actividad de tutoría se complementa con la participación 
    no sólo de los tutores.
  </p>
  
  <p>
    El programa de tutoría en la Facultad de Telemática, establece que el 100% 
    de los estudiantes deben tener un tutor, por lo que éste se asigna al 
    estudiante desde que ingresa a su carrera, hasta que egresa de la misma. 
    En la facultad, todos los tutores asignados a los estudiantes son profesores 
    de tiempo completo que en su totalidad han recibido cursos de capacitación 
    para realizar la actividad de tutoría.</p>
  
  <p>
    Cabe señalar que las tutorías no son una actividad que pueda 
    obligarse a los estudiantes, por tal razón deben realizarse 
    acciones de sensibilización para que éstos se presenten con su 
    tutor periódicamente. Cada tutor acuerda con su tutorado el tiempo 
    y forma de trabajar durante el semestre. En la Facultad de Telemática 
    se lleva a cabo el modo de tutoría personalizada.
  </p>
</div>
