<div id="academico-cuerpo">
  <div>
    Los profesores de tiempo completo de la facultad están agrupados en 4 
    cuerpos académicos (CA) reconocidos por PROMEP: CA-54, CA-55, 
    CA-65 y CA-90. A continuación se describen los datos principales 
    de cada uno.
   </div>
  <h2>CA-54</h2>
  <hr class="style-hr">
  <div id="section-contacto" class="grid">
    <div>
      <p>
        M. en C. Sara Sandoval Carrillo<br>
        sary@ucol.mx<br>
        Directora de la Facultad de Telemática<br>
      </p>
    </div>
    <div class="row-contacto grid">
      <div>
        <p>
          Dr. Ed. Antonio Ordaz Carrillo<br>
          Coordinador Académico de la<br>
          carrera Ingeniería en Software<br>
          aordaz@ucol.mx<br>
          ext 37804<br>
        </p>
      </div>
      <div>
        <p>
          M.C. Aaron Vázquez Godina<br>
          Coordinador Académico de la<br>
          carrera Ingeniería en Telemática<br>
          laaaron@ucol.mx<br>
          ext. 37805 <br>
        </p>
      </div>
      <div>
        <p>
          Dr. Raúl Teodoro Aquino Santos<br>
          Coordinador de Posgrado<br>
          aquinor@ucol.mx<br>
        </p>
      </div>
      <div>
        <p>
          C.P. Rosa María Poce Barajas<br>
          Secretaria Administrativa<br>
          rponce@ucol.mx<br>
          ext 37803<br>
        </p>
      </div>
    </div>
    <div>
      <p>
        Universidad de Colima<br>
        Facultad de Telemática<br>
        Av. Universidad #333. Colonia Las Víboras<br>
        C.P. 28040 Colima, Colima, México<br>
        Tel y Fax +52 (312) 316-10-75<br>
      </p>
    </div>
  </div>
</div>
