#content-academico {
  padding: 1em;
}

#programa-tutoria {
  text-align: justify;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .profe-row {
    grid-template-columns: repeat(4, 1fr);
  }
}
