/* Core */
body {
  margin: 0;
  font-family: 'PT Serif', serif;
  background-color: #fdfef9;
  color:#222;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
  grid-template-columns: 1fr; 
}

#menu-facultad {
  cursor: pointer;
}

#eventos img ,
#facultad-historia img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  text-decoration: none;
  padding: 1em;
  color: #fdfef9;
  background: rgb(156,135,101);
}

.btn:hover {
  background-color: #fdfef9;
  color: rgb(156,135,101);
  border: 1px solid #9C8765;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.grid {
  display: grid;
}


.style-hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#content {
  background: #fdfef9;
}

/* header */

header .bg-image {
  position: absolute;
  background-image: url('https://images.pexels.com/photos/7112/woman-typing-writing-windows.jpg?auto=compress&cs=tinysrgb&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.9;
}

header .title {
  display: block;
  background-color: rgba(253,254,249,1);
  height:2em;
  max-height: 100px; 
  border-bottom: 1px solid #eaeaea;
  box-shadow: -1px -3px 15px 0px rgba(0,0,0,0.75);
  padding-top: 0.6em;
  font-size: 1.5em;
}

.title a {
  text-decoration: none;
  color: black;
}

/* section-menu style */

#section-menu {
  font-size: 1.2em;
  height:2.5em;
}

#section-menu div {
  text-align: center;
  vertical-align: middle;
}

#section-menu .option {
  background: rgba(156,135,101, 0.7);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color:#222; 
  display:block;
  line-height: 2.5em;
  height:2.5em;
}

#section-menu .option:hover {
  background: #4f4537;
  color: white;
  transition: background-color 0.5s ease;
}

/* footer style */
footer {
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  padding: 1em;
  background-color:black;
  background: #4f4537;
  color:white;
  text-align:left;
}

.icon-social {
  width: 50px;
  display: inline-block;
  margin-right: 1em;
}

/* media query */
@media (max-width: 700px) {
  #section-menu {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2.1em;
  }

  footer {
    grid-template-columns: 1fr;
    grid-gap:1em;
  }
}

@media (min-width: 700px) {
  #section-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer {
    grid-template-columns: 1fr 1fr;
    grid-gap:1em;
  }
}
