#procesos {
  padding: 1em;
}
.card-honor img {
  max-height: 200px;
  max-width: 170px;
}

.section-titulacion {
  text-align: left;
}

#procesos-titulacion h3 {
  text-align: left;
}

@media (min-width: 700px) {
  .honor-row, #alumnos .options {
    grid-template-columns: repeat(4, 1fr);
  }
  .card-option {
    margin: 3px;
  }
}
