<div id="alumnos" class="grid">
  <div class="cuadro-honor">
    <h2>Cuadro de Honor</h2>
    <hr class="style-hr">
    <h3>Ingeniería en Software</h3>
    <div class="honor-row grid">
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
    </div>
    <h3>Ingeniería en Telematica</h3>
    <div class="honor-row grid">
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
      <div class="card-honor">
        <img src="../../img/cuadro/hegar.jpg" alt="honor"> <br>
        García Rodríguez Hegar José
      </div>
    </div>
  </div>
  <div class="options grid">
    <div class="btn card-option" onclick="irMoodle()">
        Acceder a Moodle
    </div>
    <div class="btn card-option" onclick="irActividades()">
      Actividades
    </div>
    <div class="btn card-option" onclick="irProcesos()">
      Tramites Academicos
    </div>
    <div class="btn card-option" onclick="irHorarios()">
      Horarios de clases
    </div>
    <div class="btn card-option" onclick="irCalendario">
      Calendario escolar
    </div>
    <div class="btn card-option" onclick="irProblema()">
      Reportar un problema
    </div>
    <div class="btn card-option" onclick="irGuia()">
      Guia para estudiantes
    </div>
    <div class="btn card-option" onclick="irBiblioteca()">
      Biblioteca virtual
    </div>
    <div class="btn card-option" onclick="irTesis()">
      Selecciona un tema de tesis
    </div>
  </div>
</div>
